body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.resultDisplay {
  border: 1px solid;
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.keyDisplay {
  width: 240px;
  height: 320px;
}

button {
  height: 80px;
  width: 80px;
}

.firstRow {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondRow {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.thirdRow {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lastRow {
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
